<%- include('partials/nav') -%>

<div class="flex grow w-full mt-[4rem]">
    <%- include('partials/sidebar') -%>
    <div class="flex-grow ml-[5%]">
        <div class="flex flex-col text-white items-center justify-center w-full bg-[#000000] font-poppins">
            <div class="flex flex-col items-start justify-center w-[90%] mt-5">
                <h1 class="text-4xl font-bold text-center mb-8">User Account</h1>
                <div class="bg-[#151313] rounded-lg p-8 w-[60%]">
                    <div class="text-xl font-bold mb-4 text-center">
                        Account Information
                    </div>
                    <div class="mb-4">
                        <p><strong>Email:</strong> <%= user.email %></p>
                    </div>
                    <div class="mb-4">
                        <p><strong>API Key:</strong> <%= user.apiKey %></p>
                    </div>
                    <div class="flex flex-col items-start w-full justify-center gap-2">
                        <p><strong>Connection String:</strong></p>
                        <div class="bg-black min-h-5 py-5 px-5 rounded-xl w-full">
                            <p><%= internet.domain %>api/post/<%=user.apiKey%></p>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <form id="regenerateApiKeyForm" action="/account/regenerate-api-key" method="POST">
                            <button type="submit" class="text-gray-300 hover:text-white bg-red-600 w-full py-2 rounded-lg">Regenerate API
                                Key</button>
                        </form>
                    </div>
                    <div class="text-center mt-4 w-full flex">
                        <a href="/logout" class="text-gray-800 hover:text-black bg-yellow-400 w-full py-2 rounded-lg">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>