<%- include('partials/nav') -%>

<div class="flex grow w-full mt-[4rem]">
    <%- include('partials/sidebar') -%>
    <div class="flex-grow ml-[5%]">
        <div class="flex flex-col text-white items-center justify-center w-full bg-[#000000]">
            <div class="flex flex-col items-start justify-center w-[90%] mt-5">
                <h1 class="text-4xl font-bold text-center mb-8">Your Albums</h1>
                <div class="flex flex-col gap-5 items-start justify-center">
                    <% albums.forEach(album => { %>
                        <div class="p-6 bg-[#151313] rounded-lg shadow-lg">
                            <a href="/albums/<%= album.id %>"
                                class="text-2xl font-bold text-[#FB2576] hover:underline"><%= album.name %>
                                (<%= album.images.length %> images)</a>
                                <div class="grid grid-cols-3 gap-4 mt-4">
                                    <% album.images.slice(0, 3).forEach(image => { %>
                                    <div class="block group">
                                        <img src="/uploads/<%= image.fileName %>" alt="Image"
                                            class="w-full h-32 object-cover rounded-md border-2 border-gray-600">
                                    </div>
                                    <% }) %>
                                </div>
                        </div>
                    <% }) %>

                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>