<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= post.title %></title>
    embedConfig
    <meta name="description" content="<%= embedConfig.description %>">
    <meta property="og:title" content="<%= post.fileName %>">
    <meta property="og:description" content="<%= embedConfig.description %>">
    <meta property="og:image" content="/uploads/<%= post.fileName %>">
    <meta property="og:author" content="<%= embedConfig.authorName %>">
    <meta name="twitter:title" content="<%= post.fileName %>">
    <meta name="twitter:description" content="<%= embedConfig.description %>">
    <meta name="twitter:image" content="/uploads/<%= post.fileName %>">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="<%= embedConfig.authorName %>">
    <meta name="theme-color" content="<%= embedConfig.color %>">
    <meta property="og:upload_date" content="<%= new Date(post.fileUploadTime).toISOString() %>">
    <meta name="twitter:upload_date" content="<%= new Date(post.fileUploadTime).toISOString() %>">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="bg-[#161F29]">
    <div class="flex h-screen items-center justify-start flex-col">
        <br>
        <img class="rounded-lg max-w-[50%]" src="/uploads/<%= post.fileName %>" alt="" srcset="">
        <br>
        <p class="text-white text-2xl"><%= post.fileName %></p>
        <p class="text-white">Uploaded On <%= post.fileUploadTime %></p>
    </div>
</body>
</html>
